@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*#93edb9  verde del logo   #6d3579  morado del logo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: whitesmoke;
}

.contenedor {
 /** background:#8fbc8bda;  fondo pantalla**/
  background:#000000e1;
  background-size: cover;
  background-repeat: no repeat;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
}
 .logo {
  margin-left: 10%;
  border-radius: 50%;
  max-width: 50%;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  margin: 10px;
  gap: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.nav-bar li a {
  text-decoration: none;
  background-color: rgba(210, 177, 241, 0);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  color: whitesmoke;
}
.nav-bar li a:hover {
  color: #d887f1 ;
}

.header-mobile {
  display: none;
}

.carrete-mobile {
  display: none;
}

.carrete {
  display: grid;
  grid-template-columns: repaet(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "m1 m2 m3 m4 m5 m6";
  gap: 2px;
  margin-top: 10px;
  margin-left: 3%;
}

.carrete :hover{
  transform: scale(1.2);
}

.container_p{
  width:90%; /*no ocupe el total de la pantalla*/
  max-width:1200px;/*ancho maximo de 1200px*/
  margin:0 auto;/*centramos vertialmente*/
  overflow: hidden;/*escoder lo que sobresalga*/
  padding:var(--padding-container);
  margin-top: 40px;
}

.picture{
 
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  overflow: hidden;
  }
  
  .container_pic{
      display:grid ;
      grid-template-columns: 1fr 1fr;
      gap:1em;
      align-items: center;
  }
  
  .picture_1{
  max-width: 500px;
  }
  
  .paragraph_pic{
      line-height: 1.7;
      margin-bottom: 15px;
  
  }
  .img_pic{
      width: 100%;
      display: block;
  }

.bloque {
  display: grid;
  grid-template-columns: repaet(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "ser-index reserva";
  gap: 10%;
  margin-top: 25px;
}

.esmalte .esmalt p {
  font-size: 25px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.ser-index {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: none;
  margin-top: 10px;
  margin: 15px;
  padding: 15px;
  gap: 25px;
}

.button_slide {
  color: #FFF;
  border: 2px solid #d887f1;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d887f1;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #d887f1;
}

#outer {
  width: 364px;
  margin-left: -50%;
  margin-top: 40%;
  text-align: center;
}

#outer a{
  text-decoration: none;
  color: whitesmoke;
}

.footer_container{
  background-color: rgba(255, 255, 255, 0.233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  margin: auto;
  justify-content: center;
  }

 footer a img {
   
    display: inline-flex;
    width: 40px;
    margin-top: 25px;
  
  }

.saw{
  margin-top: 10px;
  margin-left: 10px;
}

.img_mant{
  width: 100%;
  height: 100%;
  
}
  
 

@media (max-width: 768px) {
  .nav-bar {
    list-style-type: none;
    display: flex;
    margin-bottom: 5px;
    margin: 10px;
    padding: 0px;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px
  }
  .nav-bar li a {
    font-size: 20px;
  }
  .carrete {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "m1 m2" "m3 m4";
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 0;
  }
  .carrete .m5 .m6 {
    display: none;
  }
  .bloque {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "ser-index" "reserva";
  }
  .esmalt {
    display: none;
  }
  .ser-index {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .contenedor {
    background: #A770EF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .nav-bar .logo {
    display: none;
  }
  .logo2 {
    display: block;
  }
  .header-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "logo2" "nav-bar-2";
    height: 100px;
    gap: 100px;
  }
  .logo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 250px;
    margin-right: 0;
  }
  .nav-bar-2 {
    display: block;
    padding: 10px 10px;
    background: rgba(156, 156, 156, 0.7176470588);
    text-align: left;
  }
  .nav-bar-2 ul {
    list-style: none;
  }
  .nav-bar-2 ul li a {
    font-size: 20px;
    text-align: none;
    color: black;
    text-decoration: none;
  }
  .nav-bar-2 li a:hover {
    color: #ee06e2;
  }
  .carrete {
    display: none;
  }
  .carrete-mobile {
    display: block;
    background-image: url(../assets/img/carremobisf.png);
    background-repeat: no-repeat;
    width: 576px;
    height: 525px;
    margin-top: 1%;
    margin-left: 5%;
  }
  .nav-bar-2 a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 5px 5px;
    border-bottom: 2px solid #000000;
    max-width: 200px;
    background: #fcfcfc;
    font-variant: small-caps;
  }
  .nav-bar-2 input[type=checkbox], .nav-bar-2 .fi-br-menu-burger, .nav-bar-2 .fi-br-cross {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 5;
  }
  .nav-bar-2 .fi-br-menu-burger, .nav-bar-2 .fi-br-cross {
    font-size: 25px;
    pointer-events: none;
  }
  .nav-bar-2 input[type=checkbox] {
    opacity: 15;
  }
  .nav-bar-2 {
    color: rgb(252, 252, 252);
    position: relative;
    background: rgba(112, 35, 131, 0.137254902);
    min-height: 5px;
  }
  .nav-bar-2 nav {
    display: none;
  }
  .nav-bar-2 input:checked ~ nav {
    display: block;
  }
  .nav-bar-2 input:checked ~ .fi-br-menu-burger {
    display: none;
  }
  .nav-bar-2 input:not(:checked) ~ .fi-br-cross {
    display: none;
  }
  .ser-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    gap: 35px;
    margin-left: 10px;
  }
 
}

/*# sourceMappingURL=style.css.map */
