.carrete{
   @include grid(repaet(6,1fr),1fr);
    grid-template-areas: 
    "m1 m2 m3 m4 m5 m6"
    ;
    gap: 2px;
    margin-top: 10px;
}

.sos{
    align-items: left;
    background-image: url(../../assets/img/fondosos.png);
    background-repeat: no-repeat;
    @include text(30px,center,black);
    @include margin(0,15px,20%,0);
  
  a{
    @include text(20px,none,rgb(0,0,0));
    @include flex(column,none,none)
     }
 button{
   @include medidasg(10px,10px,0);
    border: none;
    color: white;
    background: linear-gradient(#ee06e2, rgb(230, 88, 171));
    }
 button:hover {
    background: linear-gradient(#06deee, rgb(88, 166, 230));
    color: white;
  }
}

.bloque{
    @include grid(repaet(2,1fr),1fr);
    grid-template-areas:"ser-index reserva";
    gap:10%;
    margin-top: 25px;
    }

 .esmalte .esmalt p{

 @include text(25px,center,black)
 
}
.ser-index{
    @include flex(row,none,none);
    margin-top: 10px;
    @include medidasg(15px,15px,25px);
}

.reserva{
    width: 350px;
    height: 350px;
    background-color: #9b5997;
    border-radius: 50%;
    position: relative;

.reserva:hover{
    transform: scale(1.5);
    background-color: #5eccd4;
}

p{
    font-size: 35px;
    position: absolute;
    top:100px;
     margin-left:25%;
     margin-top: 45px;
}
a{
    text-decoration: none;
    color: black;
}
}