@media (max-width: 768px){

.nav-bar{
    list-style-type: none;
    display: flex;
    margin-bottom: 5px;
    @include medidasg(10px,0px,25px);
 li a{
    font-size: 20px;   
}
}

.carrete{
    @include grid( repeat(2,1fr),repeat(2,1fr));
    grid-template-areas: 
    "m1 m2" 
    "m3 m4"
    ;
    gap: 5px;
    @include margin(15px,0px,45px,0); 
.m5 .m6{display: none;}
}

.bloque{
    @include grid(repeat(1,1fr),repeat(1,1fr));
    grid-template-areas:
    "ser-index" 
    "reserva";
    }
  
.esmalt{display: none;}

.ser-index{
    display:flex;
    flex-direction: row;
    gap: 45px;
    @include margin(15px,0px,25px,0)
}

.reserva{
    width: 350px;
    height: 350px;
    background-color: #ee06e2;
    border-radius: 50%;
    position: relative;
    @include margin(-60px,100px,200px,0)
}

.sos{
    align-items: left;
    background-image: url(../../assets/img/fondosos.png);
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px; 
    margin-left:1px;
    margin-bottom: 15px;

 a{
    font-size: 25px;
}
}

.container-reser{
    @include flex(column,none,center);
    @include medidasg(0,10px,50px);
    @include margin(10px,0,200px,0);   
}

.listado{
    margin-left: 90px;

p{
    font-size: 25px;
    align-items: center;
}
}
.agenda button{
        background: linear-gradient(#ee06e2, rgb(228, 114, 180)); 
        border: none;
        padding: 15px 32px;
        @include text(25px,center,white);
        @include margin(0,50px,95px,0);
}





















}