
.contenedor{
    font-family: 'Abyssinica SIL', serif;
    background-image: url(../../assets/img/Ultra\ Voilet.jpg); /** fondo pantalla**/
    background-size: cover;
    background-repeat: no repeat;
 }
 